[submodule "distro"]
	path = distro
	url = git@github.com:avocado-linux/meta-avocado.git
	branch = scarthgap
[submodule "references/elixir/ref-elixir"]
	path = references/elixir/ref-elixir
	url = git@github.com:avocado-linux/ref-elixir
[submodule "references/rust/ref-rust"]
	path = references/rust/ref-rust
	url = git@github.com:avocado-linux/ref-rust
[submodule "extensions/cli"]
	path = extensions/cli
	url = git@github.com:avocado-linux/avocado-cli
	branch = rel/0.23.0
