supported_targets = "*"

##
## Runtimes
##

[runtime.example-elixir.dependencies]
avocado-img-bootfiles = "*"
avocado-img-rootfs = "*"
avocado-img-initramfs = "*"
avocado-ext-dev = { ext = "avocado-ext-dev", vsn = "*" }
avocado-ext-sshd-dev = { ext = "avocado-ext-sshd-dev", vsn = "*" }
avocado-ext-webkit = { ext = "avocado-ext-webkit", vsn = "*" }
config-ext = { ext = "config" }
example-elixir-ext = { ext = "example-elixir" }

# BSPs
[runtime.example-elixir.imx93-evk.dependencies]
avocado-bsp-imx93-evk = { ext = "avocado-bsp-imx93-evk", vsn = "*" }

[runtime.example-elixir.reterminal-dm.dependencies]
avocado-bsp-reterminal-dm = { ext = "avocado-bsp-reterminal-dm", vsn = "*" }

[runtime.example-elixir.reterminal.dependencies]
avocado-bsp-reterminal = { ext = "avocado-bsp-reterminal", vsn = "*" }

[runtime.example-elixir.raspberrypi5.dependencies]
avocado-bsp-raspberrypi5 = { ext = "avocado-bsp-raspberrypi5", vsn = "*" }

[runtime.example-elixir.raspberrypi4.dependencies]
avocado-bsp-raspberrypi4 = { ext = "avocado-bsp-raspberrypi4", vsn = "*" }

[runtime.dev.jetson-orin-nano-devkit.dependencies]
avocado-bsp-jetson-orin-nano-devkit = { ext = "avocado-bsp-jetson-orin-nano-devkit", vsn = "*" }
avocado-img-tegraflash = "*"

[runtime.dev.jetson-agx-orin-devkit.dependencies]
avocado-bsp-jetson-agx-orin-devkit = { ext = "avocado-bsp-jetson-agx-orin-devkit", vsn = "*" }
avocado-img-tegraflash = "*"


##
## Extensions
##

[ext.config]
types = ["confext"]
version = "0.1.0"

[ext.config.users.root]
password = ""

[ext.example-elixir]
types = ["sysext", "confext"]
version = "0.1.0"
overlay = "overlay"
enable_services = ["ref-elixir.service"]
on_merge = [
  "systemctl restart --no-block ref-elixir.service",
  "systemctl restart --no-block cog.service"
]

[ext.example-elixir.dependencies]
example-elixir-app = { compile = "example-elixir-app", install = "elixir-install.sh" }

[ext.example-elixir.sdk.dependencies]
nativesdk-ca-certificates = "*"
nativesdk-git = "*"
nativesdk-elixir = "*"
nativesdk-elixir-mix = "*"
nativesdk-elixir-eex = "*"
nativesdk-elixir-ex-unit = "*"
nativesdk-rebar3 = "*"
nativesdk-erlang = "*"
nativesdk-erlang-dev = "*"
nativesdk-erlang-crypto = "*"
nativesdk-erlang-parsetools = "*"
nativesdk-erlang-asn1 = "*"
nativesdk-erlang-public-key = "*"
nativesdk-erlang-public-key-dev = "*"
nativesdk-erlang-xmerl = "*"
nativesdk-erlang-xmerl-dev = "*"
nativesdk-erlang-ssl = "*"
nativesdk-erlang-runtime-tools = "*"
nativesdk-erlang-inets = "*"
nativesdk-erlang-stdlib = "*"
nativesdk-nodejs = "*"

##
## SDK
##

[sdk]
image = "docker.io/avocadolinux/sdk:apollo-edge"
container_args = ["--network=host"]

[sdk.dependencies]
avocado-sdk-toolchain = "*"
nativesdk-avocado-hitl = "*"
nativesdk-openssh-ssh = "*"
nativesdk-openssh-scp = "*"
nativesdk-rsync = "*"

[sdk.compile.example-elixir-app]
compile = "elixir-compile.sh"

[sdk.compile.example-elixir-app.dependencies]
erlang-erts = "*"


##
## Provisioning
##

[provision.usb]
container_args = ["-v", "/dev:/dev", "-v", "/sys:/sys:ro", "--privileged"]

[provision.sd]
container_args = ["-v", "/dev:/dev", "-v", "/sys:/sys:ro", "--privileged"]

[provision.tegraflash]
container_args = ["-v", "/dev:/dev", "-v", "/sys:/sys", "--privileged"]
