supported_targets = [
  "raspberrypi5",
  "raspberrypi4",
  "reterminal",
  "reterminal-dm",
  "icam-540",
  "jetson-orin-nano-devkit",
  "jetson-agx-orin-devkit"
]

src_dir = "../../"

##
## Runtimes
##

[runtime.webkit-ui.dependencies]
avocado-img-bootfiles = "*"
avocado-img-rootfs = "*"
avocado-img-initramfs = "*"
avocado-ext-dev = { ext = "avocado-ext-dev", vsn = "*" }
avocado-ext-sshd-dev = { ext = "avocado-ext-sshd-dev", vsn = "*" }
avocado-ext-webkit = { ext = "avocado-ext-webkit", vsn = "*" }
config = { ext = "config" }
app = { ext = "app" }

[runtime.webkit-ui.reterminal-dm.dependencies]
avocado-bsp-reterminal-dm = { ext = "avocado-bsp-reterminal-dm", vsn = "*" }

[runtime.webkit-ui.reterminal.dependencies]
avocado-bsp-reterminal = { ext = "avocado-bsp-reterminal", vsn = "*" }

[runtime.webkit-ui.raspberrypi5.dependencies]
avocado-bsp-raspberrypi5 = { ext = "avocado-bsp-raspberrypi5", vsn = "*" }

[runtime.webkit-ui.raspberrypi4.dependencies]
avocado-bsp-raspberrypi4 = { ext = "avocado-bsp-raspberrypi4", vsn = "*" }

[runtime.webkit-ui.jetson-orin-nano-devkit.dependencies]
avocado-img-tegraflash = "*"
avocado-bsp-jetson-orin-nano-devkit = { ext = "avocado-bsp-jetson-orin-nano-devkit", vsn = "*" }

[runtime.webkit-ui.jetson-agx-orin-devkit.dependencies]
avocado-img-tegraflash = "*"
avocado-bsp-jetson-agx-orin-devkit = { ext = "avocado-bsp-jetson-agx-orin-devkit", vsn = "*" }

##
## Extensions
##

[ext.app]
types = ["sysext", "confext"]

[ext.app.dependencies]
libdrm-tests = "*"
kernel-modules = "*"
nvidia-kernel-oot = "*"


[ext.config]
types = ["confext"]

[ext.config.users.root]
password = ""

##
## SDK
##

[sdk]
image = "avocadolinux/sdk:apollo-edge"
container_args = ["--network=host"]

[sdk.dependencies]
avocado-sdk-toolchain = "*"

##
## Provisioning
##

[provision.usb]
container_args = ["-v", "/dev:/dev", "-v", "/sys:/sys:ro", "--privileged"]

[provision.sd]
container_args = ["-v", "/dev:/dev", "-v", "/sys:/sys:ro", "--privileged"]

[provision.tegraflash]
container_args = ["-v", "/dev:/dev", "-v", "/sys:/sys:ro", "--privileged"]
