name: Build OS

on:
  schedule:
    - cron: "0 9 * * *" # Runs at 9 AM UTC daily
  workflow_dispatch:
    inputs:
      build_all:
        description: "Build all machines and perform all tasks"
        type: boolean
        default: false
      target_to_build:
        description: "Select the machine to build"
        type: choice
        required: true
        options:
          - imx8mp-evk
          - imx91-frdm
          - imx93-frdm
          - imx93-evk
          - qemuarm64
          - qemux86-64
          - reterminal
          - reterminal-dm
          - jetson-orin-nano-devkit-nvme
          - raspberrypi4
          - raspberrypi5
      distro_codename:
        description: "Distribution codename"
        type: string
        default: "latest/apollo/edge"

jobs:
  build-distro:
    uses: ./.github/workflows/build-distro.yml
    with:
      build_all: ${{ github.event.inputs.build_all == 'true' || github.event_name == 'schedule' }}
      target_to_build: ${{ github.event.inputs.target_to_build || 'qemux86-64' }}
      distro_codename: ${{ github.event.inputs.distro_codename || 'latest/apollo/edge' }}
    secrets: inherit

  build-extensions:
    needs: build-distro
    uses: ./.github/workflows/build-extensions.yml
    with:
      distro_codename: ${{ github.event.inputs.distro_codename || 'latest/apollo/edge' }}
      build_all: ${{ github.event.inputs.build_all == 'true' || github.event_name == 'schedule' }}
      target_to_build: ${{ github.event.inputs.target_to_build || 'qemux86-64' }}
    secrets: inherit

  deploy-repo:
    needs: [build-distro, build-extensions]
    uses: ./.github/workflows/deploy-repo.yml
    with:
      distro_codename: ${{ github.event.inputs.distro_codename || 'latest/apollo/edge' }}
      release_date: ${{ needs.build-distro.outputs.release_date }}
      packages_path: ${{ needs.build-distro.outputs.packages_path }}
      releases_path: ${{ needs.build-distro.outputs.releases_path }}
    secrets: inherit
