[Unit]
Description=Roboflow Config Docker Service
After=network.target docker.service
Requires=docker.service

[Service]
Type=simple
ExecStartPre=+/bin/sh -c "cat /usr/share/ca-certificates/mozilla/*.crt > /etc/ssl/certs/ca-certificates.crt"
ExecStart=/opt/roboflow/rfdm --debug
Restart=always
RestartSec=15
StartLimitInterval=300
StartLimitBurst=10
Environment="RF_CONFIG_DIR=/opt/roboflow/config"
WorkingDirectory=/opt/roboflow

# Security hardening
NoNewPrivileges=yes
ProtectHome=yes

# Logging configuration
StandardOutput=journal
StandardError=journal
SyslogIdentifier=rfdm

[Install]
WantedBy=multi-user.target